body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: #000;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*Header styles*/
header {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
}

#logo {
  height: 50px;
  padding-left: 10px;
}

header nav span {
  margin-right: 30px;
}

a {
  color: seashell;
}

/*Offset content to avoid being hidden behind fixed header*/
.offset:before {
	display: block;
 	content: " ";
  height: 69px;
  margin-top: -69px;
  visibility: hidden;
}

/*Mission*/
#our-mission {
  display: flex;
  margin-top: 69px;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
}

.banner {
  width: 100%;
  background-color: rgb(0,0,0);
}

/*Tea of the Month*/
#totm {
  width: 1000px;
  margin: 50px auto ;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {

  padding: 5px;
  display: block;
}

.tea img {
  width: 300px;
}

.tea h4 {
  display: block;
  margin-top: 10px;
}

/*Locations*/

#locations {
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  background-color: #000;
  opacity: 1;
  width: 300px;
  min-height: 200px;
  margin: 0 20px;
}

#locations h2 {
  margin-bottom: 0 0 15px 0;
}

/*Footer*/
.contact {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copyright {
  text-align: left;
}
