body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: #000;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*Header styles*/
header {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

#logo {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

header nav span a {
  color: seashell;
}

header nav span {
  margin-right: 20px;
}

/*Content*/
#our-mission {
  display: flex;
  margin-top: 69px;
  height: 700px;
  width: 1200px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  align-items: center;
}

.banner {
  width: 100%;
  background-color: #000;
  opacity: 0.9;
}
